<h1>News</h1>
<ul>
    <li>July, 2019 - Selected as ML Facilitator by <strong>Google AI, India</strong>.</li>
    <li>June, 2019 - Graduated <strong>Deep Learning Nanodegree</strong>, scholarship by <strong>Facebook AI</strong>.</li>
    <li>May, 2019 - Got selected for <strong>Secure and Private AI</strong> Scholarship by <strong>Facebook AI</strong>.</li>
    <li>May, 2019 - Started to work with <strong>BigVision LLC</strong> as Content Developer for AI Courses by <strong>OpenCV.org</strong>.</li>
    <li> April, 2019 - Presented the paper <strong>Convolutional Feature Extraction and Neural Arithmetic Logic Units for Stock Prediction</strong> at <strong>ICACDS-2019</strong>.</li>
    <li>April, 2019 - Started working with Dr.Isabelle Guyon's team at <strong>INRIA,Paris</strong> on AutoDL Project.</li>
    <li>December, 2018 - Started working under <strong>Dr.Jajati Keshari Sahoo</strong> on Stock prediction with CNN and Neural Arithmetic Logic Units.</li>
    <li>November, 2018 - Recieved <strong>KPIT Autonomous Tech</strong> scholarship.</li>
    <li>September, 2018 - Started working with <strong>OpexAI</strong> as AI Developer.</li>
    <li>July, 2018 - Started working with <strong>KGLLP Fintech</strong> as Software Developer.</li>

  </ul>